
{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
  
<p>
Data visualization gives you an intuitive understanding and a quick way to test any hypothesis that you might have.<br>
it will also give you a different perspective as you slice data in different ways, which you can do quickly and effectively with data visualization! We particularity used Python and Javascript for data visualization purposes.<br>

The database on our webapp is from Vitech's V3 API which is built in REST-API interface to query and filter the data to analysis simulated insurance advertisement data. The database holds 3 collections of policyholders's information, method types of advertisement, and so on. By using this data, we aggregate and summarize them to overlaid on chart on webapp. So, our webapp allows people to understand how effective the marketing was and shows current stat.

Vitech's HackRU Callenge:

Insurance company Acme has 1 million Dental policies and they want to target these policy holders to sell Accident insurance. For this purpose, they hold a marketing campaign that last from January 1, 2016 through October 31, 2016. During this period, Acme added another 300k people at various times to the campaign. The campaign involved performing marketing activities such as emails, letters, sales events, calls, etc. During the period of the campaign some individuals (50k) purchased an accident policy.
</p>
</div>

{% endblock %}


